@tailwind base;
@tailwind components;
@tailwind utilities;

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.53);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.53);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.53);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}